/* React stuff */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: transparent ; */
  background-image: url('./images/top-texture-bg.jpg');
  background-size: cover;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-header {
    animation: App-header-rise 1 1s linear;
  }
} */

.App-link {
  color: #61dafb;
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-header-rise{
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
/* End React Stuff */

/* Common HD */
.contentHeader {
  color:rgb(211, 194, 96); 
  font-size: 35px; 
  text-shadow: 2px 2px 2px teal;
  z-index: 3;
}

.headerDiv {
  border-top: ridge;
  border-color: rgb(211, 194, 96);
}

.aboutDescription {
  color:rgb(211, 194, 96); 
  font-size: 25px; 
  text-shadow: 2px 2px 2px teal;
}

main {
  min-height: 50vh;
  background-image: url('./images/bottom-texture-bg.jpg');
  background-size: cover;
}

/* @media (prefers-reduced-motion: no-preference) {

  main:hover {
    animation: main-drop infinite 1s linear;
    @media (prefers-reduced-motion: no-preference) {
      .App-header:hover {
        animation: App-header-rise 1 1s linear;
      }
    }
  }

}
@keyframes main-drop {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
} */
/* End Common HD */

